body{ 
    background-image: url("pink.png");
    background-size: 1700px 965px;
    background-repeat: no-repeat;
    font-family: 'Lucida Console', monospace,sans-serif;
     font-weight: bold; 
     text-align: center;
}


.container{

background: white;
max-width: 80%;
margin: auto;
border: 3px solid black;
border-radius: 10px;

}


h1{
    margin-top: 250px;
    margin-bottom: 20px;

}
h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button{
border: outset;
border-color: black;
padding-top: 10px;
padding-bottom: 10px;
color: black;
font-weight: bold;
width: 200px;
margin-bottom: 5px;
border-radius: 5px;
}

#increment-btn {
    background: pink;
}

#sav-btn{
    background: #a83275;
}

#save-el {
    font-weight: bold;
}